@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dancingFont {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.customScroll::-webkit-scrollbar {
  width: 4px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: rgb(21, 217, 149);
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: #1F2937;
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(6, 181, 117);
}

.toastSuccess {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: green;
  font-size: 1.1rem;
  z-index: 100;
}

.toastError {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: red;
  font-size: 1.1rem;
  z-index: 100;
}

@media (max-width: 600px) {

  .toastSuccess,
  .toastError {
    font-size: 0.9rem;
  }
}